.favourites-container {
  z-index: 1;
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.favourites-container .favourites-icon {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.favourites-container .favourites-icon .favourites-icon__add {
  width: 25%;
  color: white;
  font-size: 2.5em;
  cursor: pointer;
  transition: .5s;
}

.favourites-container .favourites-icon .favourites-icon__add:hover {
  transform: scale(1.25);
}

.favourites-container .favourites-icon .favourites-icon__list {
  text-align: end;
  width: 75%;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.favourites-container .favourites-icon .favourites-icon__list:hover {
  color: rgba(255, 255, 255, 0.5);
}

.favourites-container .favourites-icon .favourites-icon__list .arrow-icon {
  transition: .5s;
}

.favourites-container .favourites-icon .favourites-icon__list .arrow-icon.active {
  transform: rotate(180deg);
}

.favourites-container .favourites-list {
  position: relative;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
  width: 100%;
  height: 0;
  transition: height .5s;
}

.favourites-container .favourites-list .favourite-list__container {
  display: flex;
  width: 100%;
  color: white;
  height: auto;
  padding: 0 0.25em;
}

.favourites-container .favourites-list .favourite-list__container .favourite-list__name {
  width: 100%;
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourites-container .favourites-list .favourite-list__container .favourite-list__delete-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1.25em;
}

.favourites-container .favourites-list.active {
  position: relative;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column-reverse;
  width: 100%;
  height: 50%;
  max-height: 80%;
  transition: height .5s;
}

.favourites-container .favourites-list.active .favourite-list__container {
  display: flex;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  height: auto;
  padding: 0 0.25em;
}

.favourites-container .favourites-list.active .favourite-list__container .favourite-list__name {
  transition: .5s;
  width: 100%;
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.favourites-container .favourites-list.active .favourite-list__container .favourite-list__delete-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1.25em;
}

button {
  background: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  transform: scale(1.15);
  color: rgba(255, 255, 255, 0.6);
}
