.search-container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 8%;
  margin-bottom: 1%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.search-container .search-input {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-container .search-input input {
  position: absolute;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.2);
  width: 85%;
  height: 100%;
  box-shadow: inset 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1.5em;
  padding-left: 15%;
  color: rgba(255, 255, 255, 0.8);
}

.search-container .search-input .search-icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.search-container .search-result {
  position: absolute;
  bottom: 0;
  padding-left: 15%;
  transform: translateY(100%);
  width: 85%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  z-index: 11;
  height: auto;
  max-height: 250%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-container .search-result::before {
  content: '';
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  filter: blur(10px);
  -webkit-box-shadow: inset 0px -55px 25px -10px black;
  box-shadow: inset 0px -35px 25px -10px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.search-container .search-result .search-city {
  margin: 0.15em 0;
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search-container {
    width: 100%;
    height: 75px;
  }
}
